<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">4A's Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Keyboard</a>
                    <a class="dropdown-item" href="#">Laptop</a>
                    <a class="dropdown-item" href="#">Monitor</a>
                    <a class="dropdown-item" href="#">Mouse</a>
                    <a class="dropdown-item" href="#">Printer</a>
                    <a class="dropdown-item" href="#">Smartphone</a>
                    <a class="dropdown-item" href="#">Speaker</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
        </ul>
  
        <!-- Conditionally show/hide login and registration buttons -->
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" *ngIf="!userCookiePresent">
                <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="login-form" type="button">Login</a>
            </li>
        </ul>
  
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>
  