<div  *ngIf="message"  class="alert alert-success" role="alert">
  Registration success!
</div>
<form (ngSubmit)="submit()">
  <label for="nameVendor">Name:</label>
  <input type="text" id="nameVendor" [(ngModel)]="vendor.nameVendor" name="nameVendor" required>

  <label for="surnameVendor">Surname:</label>
  <input type="text" id="surnameVendor" [(ngModel)]="vendor.surnameVendor" name="surnameVendor">

  <label for="address">Address:</label>
  <textarea id="address" [(ngModel)]="vendor.address" name="address"></textarea>

  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="vendor.email" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="vendor.password" name="password" required>

  <label for="usernameVendor">Username:</label>
  <input type="text" id="usernameVendor" [(ngModel)]="vendor.usernameVendor" name="usernameVendor" required>

  <label for="brandName">Brand Name:</label>
  <input type="text" id="brandName" [(ngModel)]="vendor.brandName" name="brandName">

  <button type="submit">Submit</button>
</form> 
