<div class="container">
    <div *ngIf="successAlertVisible" class="alert alert-success" role="alert">
        Product successfully added!
      </div>
    <h2>Product Insertion</h2>
    
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="productName">Nome Prodotto:</label>
        <input type="text" class="form-control" id="productName" [(ngModel)]="product.name_product" name="productName" required>
      </div>
  
      <div class="form-group">
        <label for="description">Descrizione:</label>
        <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description"></textarea>
      </div>
  
      <div class="form-group">
        <label for="image">URL Immagine:</label>
        <input type="text" class="form-control" id="image" [(ngModel)]="product.image" name="image">
      </div>
  
      <div class="form-group">
        <label for="price">Prezzo:</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
      </div>
  
      <!-- Aggiungi gli altri campi del form in base al tuo modello -->
  
      <button type="submit" class="btn btn-primary">Inserisci Prodotto</button>
    </form>
  </div>
  